<%- include("header") -%>
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Obcaecati, quam at aut voluptatibus qui architecto magni.
      Facere, nulla libero nostrum, esse culpa facilis, sapiente 
      voluptatum quas deleniti aperiam atque! Veritatis.
</p>
<%- include("footer") -%>